<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040615914178-4pslrsaac017u4vppsdd20sndcnunc85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040615914178-4pslrsaac017u4vppsdd20sndcnunc85</string>
	<key>API_KEY</key>
	<string>AIzaSyAvXPLEw_06ZcQcdEnJkGXdRMl-TpmvaXs</string>
	<key>GCM_SENDER_ID</key>
	<string>1040615914178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fashionShopApp</string>
	<key>PROJECT_ID</key>
	<string>fashion-shop-app-e37ab</string>
	<key>STORAGE_BUCKET</key>
	<string>fashion-shop-app-e37ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040615914178:ios:cc2930961192c03351995b</string>
</dict>
</plist>